.page__wrapper {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.page {
  padding: 5px 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  background: teal;
  font-weight: bold;
}
