* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 80%;
  margin: 0 auto;
}

.post-enter {
  /* opacity: 0; */
  transform: translateX(-350px);
}
.post-enter-active {
  /* opacity: 1; */
  /* transition: opacity 500ms ease-in; */
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  /* opacity: 0; */
  /* transition: opacity 500ms ease-in; */
  transform: translateX(350px);
  transition: all 500ms ease-in;
}
